In [33]:
import pandas as pd
import numpy as np

In [4]:
data  = pd.read_csv("../data/house_rent_train.csv")

In [10]:
data.head(3)

,posted_on,bhk,rent,size,floor,area_type,area_locality,city,furnishing_status,tenant_preferred,bathroom,point_of_contact
0,2022-04-23,2,7000,450,1 out of 3,Carpet Area,safuipara,Kolkata,Furnished,Bachelors,2,Contact Owner
1,2022-04-23,1,6500,800,Ground out of 1,Carpet Area,Santragachi,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
2,2022-04-23,2,20000,700,1 out of 2,Super Area,Salt Lake City Sector 1,Kolkata,Furnished,Bachelors/Family,1,Contact Owner

In [16]:
data.area_type.unique()

array(['Carpet Area', 'Super Area'], dtype=object)

In [18]:
str = data['floor'][0]
str

'1 out of 3'

In [20]:
str.split(' out of ')[0]

'1'

In [28]:
def  extract_floor(floor_info):
    floor = floor_info.split(' out of ')[0]
    if floor in ['Ground','Upper Basement', 'Lower Basement'] :
        floor = 0
    else:
        floor = int(floor)
    return floor

In [34]:
data['floor_new'] = data['floor'].apply(extract_floor)

In [31]:
CAT_FEATURES = [
    "area_type",
    "city",
    "furnishing_status",
    "tenant_preferred",
    "point_of_contact",
]

In [35]:
data['size'] = np.sqrt(data['size'])

In [ ]:
def sqrt_extractor(df: pd.DataFrame, col: str) -> pd.DataFrame:
    """`extract_floor()` 함수를 `FunctionTransformer`에 사용하기 위한
    Wrapping function입니다.

    Args:
        df (pd.DataFrame): 데이터프레임
        col (str): sqrt 적용할 컬럼

    Returns:
        pd.DataFrame: 컬럼 처리 후 데이터
    """
    df[col] = np.sqrt(df[col].apply(lambda x: extract_floor(x))
    return df

In [36]:
data['size']

0       21.213203
1       28.284271
2       26.457513
3       41.231056
4       25.495098
          ...
2688    25.495098
2689    26.457513
2690    36.124784
2691    17.320508
2692    33.166248
Name: size, Length: 2693, dtype: float64